<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>proxy api project</title>
</head>
<body>
    <!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="./images/icon.png" width="50" height="50" class="d-inline-block align-top" alt="" id="icon1">
      Root proxy network
    </a>
  </nav>
   



    <div class="jumbotron">
        <h1 class="display-4">Welcome to our proxy network !</h1>
        <p class="lead">This is a simple project to fetch proxy from paid proxy api and provide a public access by removing ip restrictions.</p>
        <hr class="my-4">
        <p>This project is developed by kenny</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://t.me/kennyroot" role="button">Telegram me</a>
        </p>
      </div>


      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="./images/http.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">The HTTP Proxy is a high performance content filter. It examines Web traffic to identify suspicious content, which can be a spyware, malformed content, or another type of attack. ... You can configure the HTTP Proxy to: Only allow content that matches RFC specifications for Web server and clients.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./images/socks4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">SOCKS4 only supports TCP application.the outgoing SOCKS proxy is normally SOCKS4 proxy. As a result, UDP applications are not supported normally. That is to say, SOCKS5 could support anything that SOCKS4 supports, but it is not the same with SOCKS4.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./images/socks5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">SOCKS5 is the latest and most up-to-date SOCKS protocol. It is an improved version of SOCKS, an internet protocol that routes packets between a server and a client using a proxy server.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    
</body>
</html>