<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>proxy api project</title>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Root proxy network</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/http">HTTP <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="socks4">SOCKS4 <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/socks5">SOCKS5 <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    
    </nav>
   



    <div class="jumbotron">
        <h1 class="display-4">Welcome to our proxy network !</h1>
        <p class="lead">This is a simple project to fetch proxy from paid proxy api and provide a public access by removing ip restrictions.</p>
        <hr class="my-4">
        <p>This project is developed by kenny</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://t.me/kennyroot" role="button">Telegram me</a>
        </p>
      </div>


      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="./images/http.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">The HTTP Proxy is a high performance content filter. It examines Web traffic to identify suspicious content, which can be a spyware, malformed content, or another type of attack. ... You can configure the HTTP Proxy to: Only allow content that matches RFC specifications for Web server and clients.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./images/socks4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">SOCKS4 only supports TCP application.the outgoing SOCKS proxy is normally SOCKS4 proxy. As a result, UDP applications are not supported normally. That is to say, SOCKS5 could support anything that SOCKS4 supports, but it is not the same with SOCKS4.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./images/socks5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">SOCKS5 is the latest and most up-to-date SOCKS protocol. It is an improved version of SOCKS, an internet protocol that routes packets between a server and a client using a proxy server.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    
</body>
</html>